{% extends 'base.html' %}

{% load static %}

{% block title %}
    Actualizar Rol en el sistema
{% endblock %}

{% block content %}

    <h1>Actualizar Rol</h1>
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ formulario.as_p }}
        <button type="submit" onclick="return confirm('Reinicie sesión para activar los cambios')">
            Actualizar Rol
        </button>
    </form>
{% endblock %}